
{% if product.metafields.custom.amostra_heyzine_url.value != blank %}
    <div class="section-background color-{{ section.settings.color_scheme }}"></div>
    <div
    class="
        section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}
        {% if section.settings.section_height != "" %} {{ section.settings.section_height | prepend: "section--height-" }}{% endif %}
    "
    >
    <div>
        <div
        class="
            spacing-style
            section-content-wrapper
        "
        style="
            {% render 'spacing-style', settings: section.settings %}
        "
        >
        <iframe allowfullscreen="allowfullscreen" allow="clipboard-write" scrolling="no" class="fp-iframe" style="border: 1px solid lightgray; width: 100%; height: 80vh;" src="{{product.metafields.custom.amostra_heyzine_url.value}}"></iframe>
        {% content_for 'blocks' %}
        </div>
    </div>
    </div>
{% endif %}

{% schema %}
{
  "name": "Heyzine Amostra",
  "class": "section-wrapper",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "",
          "label": "t:options.auto"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "full-screen",
          "label": "t:options.full_screen"
        }
      ],
      "default": ""
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Heyzine Amostra",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
